html {
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 700px;
    margin: 10px auto;
    padding: 20px 20px 20px 20px;
    border: 2px solid black;
}

h1 {
    color: brown;
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

li em {
  color: rebeccapurple;
}

ul.special, span.special {
    color: darkgoldenrod;
    font-weight: bold;
}

